* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
}

.item {
    background-color: royalblue;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid black;
}