<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        * {
            /* padding: 0;
            margin: 0; */
            box-sizing: border-box;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        body {
            background-color: black;
            color: whitesmoke;
            padding: 25px;
            margin: 25px;
        }

        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <h1>About Us</h1>
    <h3>About Us Content</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel minima earum non accusamus soluta, excepturi
        doloremque modi iusto distinctio molestias praesentium rem perferendis consequuntur rerum veniam illo explicabo
        voluptatibus, temporibus repudiandae quo harum fugiat eaque dolorem inventore! Harum, et totam quis tempore esse
        nulla pariatur commodi beatae quos, necessitatibus adipisci?
    </p>
</body>

</html>