<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <%- include ('../partials/nav.ejs') %>
    <div class="new-blog">
        <form action="/new-blog" method="post">
            <label for="title"> Blog Title</label>
            <input type="text" id="title" name="title" required>
            <label for="author"> Blog Author</label>
            <input type="text" id="author" name="author" required>
            <label for="content"> Blog content</label>
            <textarea id="content" name="content" required> </textarea>
            <button> Add </button>
        </form>
    </div>
</body>

</html>