<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog </title>
</head>

<body>
    <nav>
        <div class="site-logo">
            <a href="/"> Node.js </a>
            <p> This website is created using node.jsand express.js</p>
        </div>
        <ul>
            <li><a href="/"> Blogs </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/blogs/create"> New Blog </a></li>
        </ul>
    </nav>
    <div class="new-blog ">
        <form>
            <label for="title"> Blog Title</label>
            <input type="text" id="title" required>
            <label for="author"> Blog Author</label>
            <input type="text" id="author" required>
            <label for="content"> Blog content</label>
            <textarea id="content" required> </textarea>
            <button> Add </button>
        </form>
    </div>
</body>

</html>