<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <style>
        * {
            /* padding: 0;
            margin: 0; */
            box-sizing: border-box;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        body {
            background-color: black;
            color: whitesmoke;
            padding: 25px;
            margin: 25px;
        }

        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <h1>Hello All</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus et expedita modi? Pariatur vitae illum nobis
        molestias rem animi est enim, laborum dignissimos, nemo perferendis facilis laboriosam. Voluptatibus a quas
        ducimus voluptas iste modi consectetur at expedita, velit neque illum temporibus in commodi optio adipisci
        pariatur deleniti nostrum eveniet ab?
    </p>
</body>

</html>