<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        * {
            /* padding: 0;
            margin: 0; */
            box-sizing: border-box;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        body {
            background-color: black;
            color: whitesmoke;
            padding: 25px;
            margin: 25px;
        }

        p {
            text-align: justify;
        }

        img {
            border-radius: 5px;
            max-width: 100vh;
            max-height: 100vh;
        }
    </style>
</head>

<body>
    <h1>Page Not Found</h1>
    <p>
        The requested page does not exist.
    </p>
    <img src="../notFound.jpg">
</body>

</html>