* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  padding: 25px;
  background-color: black;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-list h1 {
  color: royalblue;
}

.blog-list .blog-info{
  padding: 25px;
}

.blog-list .blog-info h2{
  color: violet
}

nav {
  padding: 7px;
  background-color: cornflowerblue;
  height: 50px;
}

nav h1 {
  float: left;
}

nav .Links {
  float: right;
  margin-right: 15px;
}