* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
    color: whitesmoke;
    padding: 25px;
    margin: 25px;
}

p {
    text-align: justify;
}